# Also ignore Data files
data/

# Node.js
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/tmp
/out
/public

# misc
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.nyc_output
.idea/
.vscode/
*.log
*.tgz
.npmrc
.yarnrc
.yarn-integrity
.eslintcache
.prettierrc.local